В компонентах использовать scss и БЭМ вида block__element--modifier
.block {
  &__element {
    &--modifier {
      ...
    }
  }
}

Вычисляемые свойства использовать через computed
Классы с условиями выносить в отдельные переменные computed

Сложные повторяющиеся вычисления в utils
Хуки в composables

Не предлагай запустить npm run dev или npm run build, я сам это делаю

Используй DRY, не копируй код

Используй и если нужно, добавляй переменные в variables.scss

Используй двумерные иконки в svg